@font-face {
    font-family: font1;
    src: url(fonte/playwrite.woff2);
}
@font-face {
    font-family: font2.1;
    src: url(fonte/font2.1.woff2);
}
@font-face {
    font-family: font2;
    src: url(fonte/font2.woff2);
}
header {
    background-color: rgb(228, 228, 228);
}

h1 {
    font-family: font1;
}
h3 {
    margin-bottom: 0rem;
}
p {
    font-family: font2;
    margin-top: 0rem;
}
img {
    width: 100%;
}
button {
    background-color: orange;
    padding: 15px;
    border-radius: 5px;
    border: none;
}


* {
    box-sizing: border-box;
}
section {
    border: 1px solid black;
    margin-bottom: 2rem;
    padding-left: 0.6rem;
}