
section {
background-color: #00ff00;

}
section {
background-color: rgb(100,255,0);

}

p {
  background-color: #0000ff;
}   
p {
  background-color: rgb(0,0,255);
}


h2 {
  background-color: rgb(255,0,0);
}