body {
        background-color: lightblue;
      }
      h1,
      h2 {
        color: blue;
      }
      h1 {
        font-size: 64px;
      }
      h2 {
        font-size: 120%;
      }
      p {
        font-size: 80%;
      }
      section {
        background-color: pink;
        border: 3px solid black;
        border-radius: 10px;
      }
      p {
        background-color: lightgreen;
      }